body {
  font-family: Helvetica;
}

h1 {
  text-align: center;
}

.prefixe{
  text-decoration: underline;
  color:#848484;
}


#navigateur1, #navigateur2, #navigateur3, #navigateur4, #navigateur5, #navigateur6 {
  display:none;
}
