body {
  font-family: Helvetica;
}

h1 {
  text-align: center;
}

li {
  margin-bottom: 3px;
}

#translation, #echelle, #rotation, #inclinaison, #matrice{
  background-color: #848484;
  height: 50px;
  width : 170px;
  transform-origin: top left;
}

#translation:hover {
  transform : translate(40px);
}

#echelle:hover {
  transform : scale(1.5);
}

#rotation:hover {
  transform : rotate(20deg);
}

#inclinaison:hover {
  transform : skew(30deg, 2deg);
}

#matrice:hover {
  transform:  matrix(1.39162, 0.562252, 0.300767, 1.70574, 40, 0);
}

#bloc1 {
  height : 100px;
  width : 100px;
  background-color: black;

}


#bloc2 {
  height : 100px;
  width : 100px;
  background-color: black;
  transform:translateX(30px) scale(1.3);
  transition: all .6s ease-in;
  display :inline-block;

  margin-left : 150px;
  margin-bottom:50px;
}

#bloc3 {
    height : 100px;
    width : 100px;
    background-color: black;
}

#bloc4 {
  height : 100px;
  width : 100px;
  background-color: black;
  transform: scale(1.3) translateX(30px);
  transition: all .6s ease-in;
  display :inline-block;

  margin-left : 150px;
  margin-bottom:50px;
}
