body {
 font-family: Helvetica;
}

code {
  background-color: #E6C6AD;
  font-size: 1.1em;
  padding : 2px;
}

span {
  font-weight: bold;
}

.box2 {
  background: lightblue;
  width: 200px;
  height: 200px;
  transition: transform 1s linear;
  transform-origin: top left;
  margin: auto;
}

.box {
  background: lightblue;
  width: 200px;
  height: 200px;
  transition: transform 1s linear;
  margin: auto;
}

.box-rotate {
  transform: rotate(360deg);
}

#texte {
  margin: 10px auto;
}

button {
  margin: 10px auto;
  display: block;
}

.demo {
  flex-direction: column;
}

#global {
  display: flex;
  justify-content: space-around;;
}
