article {
    display: flex;
}

.code, #code_drop {
    background-color: #1d1f21;
    width: 408px;
    border-radius: 20px;
    margin-left: 30px;
    position: relative;
}

.code h1, #code_drop h1 {
    color: #dddddd;
    font-size: 1em;
    text-align: center;
}

.code img {
    margin-top: 10px;
    margin-left: 25px;
}

#code_drop img {
    margin-top: 10px;
}

#grayscale #filtre_grayscale:hover {
    filter: grayscale(0.7);
    transition: all 0.3s ease-in-out;
    -webkit-filter: grayscale(0.7);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-filter: grayscale(0.7);
    -moz-transition: all 0.3s ease-in-out;
}

#blur #filtre_blur:hover {
    filter: blur(5px);
    transition: all 0.3s ease-in-out;
    -webkit-filter: blur(5px);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-filter: blur(5px);
    -moz-transition: all 0.3s ease-in-out;
}

#saturate #filtre_saturate:hover {
    filter: saturate(500%);
    transition: all 0.3s ease-in-out;
    -webkit-filter: saturate(500%);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-filter: saturate(500%);
    -moz-transition: all 0.3s ease-in-out;
}

#sepia #filtre_sepia:hover {
    filter: sepia(0.7);
    transition: all 0.3s ease-in-out;
    -webkit-filter: sepia(0.7);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-filter: sepia(0.7);
    -moz-transition: all 0.3s ease-in-out;
}

#hue_rotate #filtre_hue_rotate:hover {
    filter: hue-rotate(200deg);
    transition: all 0.3s ease-in-out;
    -webkit-filter: hue-rotate(200deg);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-filter: hue-rotate(200deg);
    -moz-transition: all 0.3s ease-in-out;
}

#invert #filtre_invert:hover {
    filter: invert(0.7);
    transition: all 0.3s ease-in-out;
    -webkit-filter: invert(0.7);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-filter: invert(0.7);
    -moz-transition: all 0.3s ease-in-out;
}

#brightness #filtre_brightness:hover {
    filter: brightness(0.7);
    transition: all 0.3s ease-in-out;
    -webkit-filter: brightness(0.7);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-filter: brightness(0.7);
    -moz-transition: all 0.3s ease-in-out;
}

#contrast #filtre_contrast:hover {
    filter: contrast(0.7);
    transition: all 0.3s ease-in-out;
    -webkit-filter: contrast(0.7);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-filter: contrast(0.7);
    -moz-transition: all 0.3s ease-in-out;
}

#opacity #filtre_opacity:hover {
    filter: opacity(0.7);
    transition: all 0.3s ease-in-out;
    -webkit-filter: opacity(0.7);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-filter: opacity(0.7);
    -moz-transition: all 0.3s ease-in-out;
}

#drop_shadow #filtre_drop_shadow:hover {
    filter: drop-shadow(16px 16px 20px blue);
    transition: all 0.3s ease-in-out;
    -webkit-filter: drop-shadow(16px 16px 20px blue);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-filter: drop-shadow(16px 16px 20px blue);
    -moz-transition: all 0.3s ease-in-out;
}